<h1> Filter details posted </h1>
<p> The user has posted their filter details to the server. We should record details and forward the user to the home page, which is now filtered. They sent:</p>

{{filterData}}

<p> <a href="/">Browse foods</a> </p>